<tr>
    <td valign=”top”>
    <label for=”icon”>Zip File</label>
    </td>
    <td valign=”top”>
    <input accept=”.zip” type=”file” id=”uploadZip” name=”icon”>
    </td>
    </tr>
    <tr>
        <td colspan=”5" style=”text-align:center”>
        <button type=”submit”>Upload Zip</button>
        </td>
        </tr>
        

        <button id="add_el">Add element</button>  