<html>
    <head>
        <title>BEE BOOK</title>
        <link rel="icon" href="#">      <!--To remove favicon.ico-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<!--<script src="/handler/books.js" type="module">  link page -->
		<script type="text/javascript" src="./update.js"></script>
		<script type="module" src="./module.js"></script>
		<script src="/index.js"></script>
    </head>
    <style>
		.container {
		  width: 100%;
		  display: grid;
		  grid-template-columns: repeat(3, 1fr);
		  grid-template-rows: repeat(auto-fill, 120px);
		  grid-row-gap: .5em;
		  grid-column-gap: 1em;
		}
		body{
			background-image: url('./images/honey-comb.jpg');
			height: 100%;
			background-position: center;
			background-repeat: repeat;
			background-size: cover;
			margin-bottom: -10%;
		}
		.form-submit-button {
			background: #000000;
			color: rgb(255, 255, 255);
			border: 2px solid rgb(29, 28, 28);
			border-radius: 50px;
			text-shadow: none;
			padding: 10px 25px;
			font-size: larger;
		}
		.form-submit-button:hover {
			background: #c4c4c4;
			color: rgb(49, 48, 48);
			border: 2px solid rgb(29, 29, 29);
			border-radius: 50px;
			text-shadow: none;
			padding: 10px 25px;
		}
		.scroll {
            display: block;
            overflow-y: scroll;
        }
	</style>

    <body>
        <h1 style="background-color: rgb(0, 0, 0);color: white;"><center><img src="\images\here_bee.gif" alt="Girl in a jacket" width="80" height="90" style="vertical-align:middle"> WELCOME TO BEE BOOK</center></h1>
        <form method="POST" action="/create">
            <textarea rows="20" cols="70" style="opacity: 0.7;margin-left: 20em;font-size: large; font-family: Arial;color: white; background-color: black;border-color:black" id="description" name="description" >
            </textarea>
            <input type="submit" value="submit" class="form-submit-button"><img src="./images/honey-bee-gif-11.gif" alt="submit" width="100" height="100" style= "margin-left: -8%;position: absolute; top: 65%;">
        </form>
		<div id="app" class="container">
        </div>
         
                  
		
       <template id="item_template">
          <% for (var i=0; i < data.length;  i++ ) { %> 
          <div class="scroll" style="background:rgb(212, 119, 5);color: rgb(0, 0, 0); opacity: 0.7; border-color: rgb(255, 169, 8);border-width: 5em;padding: 5px 5px 5px 5px;";>
           <form method="POST" action="/delete">
				<p id="del_data" name="del_data"><br/>&nbsp;&nbsp;&nbsp;<%= data[i] %>  </p>
				<input type="hidden" id="custId" name="custId" value="<%= data[i] %>" />
				&nbsp;&nbsp;&nbsp;<input type="submit"  value="Delete">
				<!--<button class="del_el" onclick = "funs_del('<%= data[i] %>')">Delete</button>-->
			</form> 
			<!--<p id="del_data" name="del_data"><br/><%= data[i] %>  </p>
			<button class="del_el" onclick = " ">Delete</button>-->
          </div>
        <% } %> 
        </template>
	
        
    <script>
      
		const COLORS = [
		  '#FEFF',
		  '#9AF',
		  '#F9A',
		  "#AFA",
		  "#FA7"
		];
    
		function addItem(container, template, x) {
		  let color = COLORS[_.random(COLORS.length - 1)];
		  let num = _.random(10000);
          console.log(x,color);
        
		  container.append(Mustache.render(template, { color, x }));
		}
		function funs_del(a)
		{	
			alert('start');
			
			var res = f1();
			console.log(res);
			alert('stop');
			
		}
        
		$(() => {
		  const tmpl = $('#item_template').html()
		  const container = $('#app');
		  let x = '' ;  
      addItem(container, tmpl, x);
		  
		  $('#add_el').click(() => {
			addItem(container, tmpl);
		  })
		  
		  container.on('click', '.del_el', (e) => {
			$(e.target).closest('.item').remove();
		  });
		});


</script>
</body>
</html>
